div.admonition { font-size:small; border:solid gray 1px; width:75%; margin:auto; margin-bottom:2vh; }
img { display:block; margin:auto; width:55%; border:solid gray 1px;}
h3 { font-size:1.2rem; font-weight:700; }